<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('../layout/headerregister'); -%>
  <body>
    <div class="input">
        <center><h3>Register</h3><hr></center>
        <div class="form">
          <input class='input-form' placeholder="Username"><br><br>
    <input class='input-form' placeholder="Email"><br><br>
    <input class='input-form' placeholder="Password"><br><br><br><br>
    <button class='input-button'>Register</button>
    </div>
    </div>
    <%- include('../layout/footer'); -%>
  </body>
</html>
