body{
  background-color: aqua;
}
.button{
  background-color:#20B2AA;
  color: white;
  width:300px;
  height: 50px;
  border-radius: 10px;
}
a h2{
  width: 200px;
  height: 50px;
  border-radius: 15px;
  padding: 3px;
}
a h2:first-child {
  background-color: #20B2AA;
  color: white;
}
.home{
  height: 800px;
  width: 350px;
  background-color: white;
  padding: 40px;
}
a{
  color: black;
}
.wrapper{
  display: flex;
}
.Barang1{
  height: 100px;
  width: 700px;
  background-color:#C0C0C0;
  padding: 10px;
  border-radius: 5px;
  margin: auto;
}
.container{
  padding: 10px;
  margin: 5px;
}
.garis_vertical{
  
}
