<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/home.css' />

    <title>Hello, world!</title>
  </head>
  <body>
<div class="wrapper">
  <div class="home">
  <h3>Risma</h3><br><br>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="#" class="w3-bar-item w3-button"><h2>Home<h2></a><br>
      <a href="#" class="w3-bar-item w3-button"><h3>Inventory</h3></a>

    </div>
  </div>
  <div class="container">
    <form>
      <div class="w-50">
    <div class="form-group row">
      <label for="staticname1" class="col-sm-2 col-form-label">First Name</label>
      <div class="col-sm-5">
        <input type="text" readonly class="form-control-plaintext" id="name" value="Rismajulianti">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputname" class="col-sm-2 col-form-label">Last Name</label>
      <div class="col-sm-5">
        <input type="text" readonly class="form-control-plaintext" id="staticname" value="Risma">
      </div>
    </div>
    <div class="form-group row">
      <label for="staticemail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-5">
        <input type="text" readonly class="form-control-plaintext" id="staticemail" value="Rismajulianti2308@gmail.com">
      </div>
      <div class="garis_vertical">
      </div>
    </div>
    </div>
  </form>
</div>




  </div>
  <script>
  function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
  }

  function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
  }
  </script>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
